body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 8px;
}

.header {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.header .right-align {
  margin-left: auto;
}

.header input {
  border-radius: 5px;
  border: 2px solid #00a8ff;
  height: 28px;
  width: 300px;
  margin-right: 5px;
}

.header .search-button {
  color: #fff;
	background: #00a8ff !important;
  border-radius: 5px;
	padding: 10px 15px;
  border: none;
  font-weight: bold;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 
    rgb(0 0 0 / 20%) 0px 2px 1px -1px, 
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, 
    rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

thead {
	color: #fff;
	background: #00a8ff;
}

tbody tr:nth-child(even){
  background-color: #dddddd;
}

.avatar {
  width: 48px;
  border-radius: 50%;
}

.loader {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 96px;
  height: 96px;
  border: 8px solid #dddddd;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

ul {
	list-style: none;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	gap: 10px;
}

.pagination .page-number {
	font-weight: 600;
	color: #00a8ff;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.pagination .page-number:hover {
	color: #fff;
	background: #00a8ff;
}

.pagination .active {
	color: #fff;
	background: #00a8ff;
}